body{
    background: #01796f;
}

#map{
    display: block;
    background: #FFF;
    margin: 30px auto 0px;
}

#player, #enemy{
    display: block;
    margin: -650px auto 0px;;
}

.text{
    text-align: center;
    font-size: 2em;
    color: black;
    font-family: cursive;
}

.left{
    float: left;
    width: 50px;
    height: auto;
    text-align: center;
    margin-right: -3%;
    font-family: fantasy;
}

.right{
    float: right;
    width: 50px;
    height: auto;
    text-align: center;
    margin-right: 3%;
    margin-left: -5%;
    font-family: fantasy;
}