body{
    background: #01796f;
}

canvas{
    display: block;
    margin: 30px auto 0px;
}

#player, #enemy, #one, #two, #oneP, #twoE, #bot{
    display: block;
    margin: -650px auto 0px;;
}

.text{
    text-align: center;
    font-size: 2em;
    color: black;
    font-family: cursive;
}

.left{
    float: left;
    width: 50px;
    height: auto;
    text-align: center;
    margin-left: 10px;
    font-family: fantasy;
}

.right{
    float: right;
    width: 50px;
    height: auto;
    text-align: center;
    margin-right: 10px;
    font-family: fantasy;
}

input{
    font-size: 1.3em;
    background: azure;
    border-radius: 8%;
    border: 2px solid blue;
    font-family: cursive;
}

input:hover{
    background: black;
    color: aliceblue;
    border: 2px solid red;
}